
body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.logo{
  height: 7rem; width: 20rem;
}
.active{
  color: black !important;
}
.active:hover{
  color: red !important;
}
.active-drop{
  color: black !important;
}
.active-drop:hover{
  color: red !important;
}
.drop1{
  color: black !important;
}
.drop1:hover{
  color: white !important;
  background: red !important;
}
.foodback-img{
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 19%;
  padding-left: 10%;
  padding-right: 10%;
  color: #f2f2f2;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./home image/back-img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
