
body {
    background: #f2f2f2;
    margin: 0;
    padding: 0%;
  }
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  .logo{
    height: 7rem; width: 20rem;
  }
        /*nav*/
  .active{
    color: black !important;
  }
  .active:hover{
    color: red !important;
  }
  .active-drop{
    color: black !important;
  }
  .active-drop:hover{
    color: red !important;
  }
  .drop1{
    color: black !important;
  }
  .drop1:hover{
    color: white !important;
    background: red !important;
  }
.desifood{
    width: 100%;
    height: 51vh;
    text-align: center;
    padding-top: 10%;
    color: #f2f2f2;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./desi food image/desi food.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
         /* card image*/
  .desi-img{
    height: 40vh; width: 100%;
    }
.card:hover{
-webkit-box-shadow: 1px 9px 40px -12px rgba(0,0,0,0.35);
-moz-box-shadow: 1px 9px 40px -12px rgba(0,0,0,0.35);
box-shadow: 1px 9px 40px -12px rgba(0,0,0,0.35);
}
.color-text{
    text-align: center;
  }
   .color-text:hover{
    color: red !important;
   }
/*footer*/
.footer-img{
  width: 9rem;
  height: 2rem;
}
.footer-color{
  color: #B40404 !important;
}
.footer-row{
  background: rgba(0,0,0,0.3);
  padding-left: 5%;
  padding-right: 5%;
  height: 35vh;
  padding-top: 4%;
}   