
body {
    background: #f2f2f2;
    margin: 0;
    padding: 0%;
  }
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  .logo{
    height: 7rem; width: 20rem;
  }
        /*nav*/
  .active{
    color: black !important;
  }
  .active:hover{
    color: red !important;
  }
  .active-drop{
    color: black !important;
  }
  .active-drop:hover{
    color: red !important;
  }
  .drop1{
    color: black !important;
  }
  .drop1:hover{
    color: white !important;
    background: red !important;
  }
.desifood{
    width: 100%;
    height: 51vh;
    text-align: center;
    padding-top: 10%;
    color: #f2f2f2;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('grid gallary image/gallary.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  /*bootstap hover effects*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect h6.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
 
  margin: 50px 0 0 0;
  background-color: transparent;
}


.hovereffect h6.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover h6.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*footer*/
.footer-img{
  width: 9rem;
  height: 2rem;
}
.footer-color{
  color: #B40404 !important;
}
.footer-row{
  background: rgba(0,0,0,0.3);
  padding-left: 5%;
  padding-right: 5%;
  height: 35vh;
  padding-top: 4%;
}